<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Student Evaluator</title>
		<style type="text/css">
			body {
			background-image: url(http://ctspacegrant.org/wp-content/uploads/2013/04/double-cluster-e1365181796716.jpg);
			clear: none;
			border-color: #FD0004;
			text-align: center;
			color: #000000;
			}
			.contentback form{
			background-color: #ED9559;
			border-radius: 75px;
			padding-left: 0px;
			margin: 50px;
			}
			.selector {
			}
			.linkcolors {
			}
		</style>
	</head>
	
	<body class="contentback">
		<h1 style="color: #FFFFFF; margin: 0px; text-align: center;"> Student Evaluation (Beta)</h1>
		
		<form>
			<br>
			<strong>Link: <a href="/">Evaluator Home Page</a> <br>
				Link: <a href="faculty">Faculty Evaluation Page</a> <br>
			</strong> <br>
			<table width="80%" border="5" align="center" bgcolor="white">
				
				<tbody>
					<tr>
						<th colspan= "4"><p>Your Evaluator Number:	
							<input type="text" select id= 'evalNum' style="width: 125px;"></input>
						</p></th>
					</tr>
					<tr>
						<th colspan= "4"><p>Student Application Number: 
							<select id='stuID'>
								{% for ID in l %}
								<option value='{{ID}}'>{{ID}}</option>
								{%endfor%}	
							</select>
						</p></th>
					</tr>
					<tr>
					</tr>
					<tr>
						<th style="color: black" scope="Criterion">Criterion: <span style="font-size: x-small">(mouse over for explanation)</span></th>
						<th style="color: black" scope="Max Points">Max Points:</th>
						<th style="color: black" scope="Points Awarded">Points Awarded:</th>
					</tr>
					<tr>
						<td style="text-align: left"><span title="How clear and testible is the specific research question?">Abstract</span></td>
						<td>10</td>
						<td>
							<select id= "abstract", style="width: 50px;">
								<option value="0">0</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
							</select>
						</td>
					</tr>
					<tr>
						<td style="text-align: left">Relation to NASA's Strategic Goals</td>
						<td>15</td>
						<td>
							<select id= "relation", style="width: 50px;">
								<option value=" 0">0</option>
								<option value=" 1">1</option>
								<option value=" 2">2</option>
								<option value=" 3">3</option>
								<option value=" 4">4</option>
								<option value=" 5">5</option>
								<option value=" 6">6</option>
								<option value=" 7">7</option>
								<option value=" 8">8</option>
								<option value=" 9">9</option>
								<option value="10">10</option>
								<option value="11">11</option>
								<option value="12">12</option>
								<option value="13">13</option>
								<option value="14">14</option>
								<option value="15">15</option>
							</select>
						</td>
					</tr>
					<tr>
						<td style="text-align: left">Methodology</td>
						<td>15</td>
						<td>
							<select id = "method", style="width: 50px;">
								<option value=" 0">0</option>
								<option value=" 1">1</option>
								<option value=" 2">2</option>
								<option value=" 3">3</option>
								<option value=" 4">4</option>
								<option value=" 5">5</option>
								<option value=" 6">6</option>
								<option value=" 7">7</option>
								<option value=" 8">8</option>
								<option value=" 9">9</option>
								<option value="10">10</option>
								<option value="11">11</option>
								<option value="12">12</option>
								<option value="13">13</option>
								<option value="14">14</option>
								<option value="15">15</option>
							</select>
						</td>
					</tr>
					<tr>
						<td style="text-align: left">Feasibility & Timeline (Planning)</td>
						<td>15</td>
						<td>
							<select id= "feasible", style="width: 50px;">
								<option value=" 0">0</option>
								<option value=" 1">1</option>
								<option value=" 2">2</option>
								<option value=" 3">3</option>
								<option value=" 4">4</option>
								<option value=" 5">5</option>
								<option value=" 6">6</option>
								<option value=" 7">7</option>
								<option value=" 8">8</option>
								<option value=" 9">9</option>
								<option value="10">10</option>
								<option value="11">11</option>
								<option value="12">12</option>
								<option value="13">13</option>
								<option value="14">14</option>
								<option value="15">15</option>
							</select>
						</td>
					</tr>
					<tr>
						<td style="text-align: left">Budget Narrative and Worksheet</td>
						<td>15</td>
						<td>
							<select id= "budget", style= "width: 50px;">
								<option value=" 0">0</option>
								<option value=" 1">1</option>
								<option value=" 2">2</option>
								<option value=" 3">3</option>
								<option value=" 4">4</option>
								<option value=" 5">5</option>
								<option value=" 6">6</option>
								<option value=" 7">7</option>
								<option value=" 8">8</option>
								<option value=" 9">9</option>
								<option value="10">10</option>
								<option value="11">11</option>
								<option value="12">12</option>
								<option value="13">13</option>
								<option value="14">14</option>
								<option value="15">15</option>
							</select>
						</td>
					</tr>
					<tr>
						<td style="text-align: left">Expected Outcome</td>
						<td>20</td>
						<td>
							<select id= "outcome", style="width: 50px;">
								<option value=" 0">0</option>
								<option value=" 1">1</option>
								<option value=" 2">2</option>
								<option value=" 3">3</option>
								<option value=" 4">4</option>
								<option value=" 5">5</option>
								<option value=" 6">6</option>
								<option value=" 7">7</option>
								<option value=" 8">8</option>
								<option value=" 9">9</option>
								<option value="10">10</option>
								<option value="11">11</option>
								<option value="12">12</option>
								<option value="13">13</option>
								<option value="14">14</option>
								<option value="15">15</option>
								<option value="16">16</option>
								<option value="17">17</option>
								<option value="18">18</option>
								<option value="19">19</option>
								<option value="20">20</option>
							</select>
						</td>
					</tr>
					<tr>
						<td style="text-align: left">Career Potential</td>
						<td>5</td>
						<td>
							<select id= "career", style="width: 50px;">
								<option value=" 0">0</option>
								<option value=" 1">1</option>
								<option value=" 2">2</option>
								<option value=" 3">3</option>
								<option value=" 4">4</option>
								<option value=" 5">5</option>
							</select>
						</td>
					</tr>
					<tr>
						<td style="text-align: left">Contact With NASA</td>
						<td>5</td>
						<td>
							<select id= "contact", style="width: 50px;">
								<option value=" 0">0</option>
								<option value=" 1">1</option>
								<option value=" 2">2</option>
								<option value=" 3">3</option>
								<option value=" 4">4</option>
								<option value=" 5">5</option>
							</select>
						</td>
					</tr>
					<tr>
						<th colspan= "4">Cover Letter URL: <input type="text" select id='cover' style="width: 300px;"></input></th>
					</tr>
					<tr>
						<br>
						<th colspan= "4"><br><input type="submit" value="Submit" /><br></th>
					</tr>
				</tbody>
			</table>
		</p>
		<br>
	</form>
</body>
</html>

<script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
<script>
	$(document).ready(function() {
		$('form').on('submit',function() {
			
			var eva = $("#evalNum").val();
			var stu = $("#stuID").val();
			var ab = $("#abstract").val();
			var rel = $("#relation").val();
			var met = $("#method").val();
			var fea = $("#feasible").val();
			var bud = $("#budget").val();
			var out = $("#outcome").val();
			var car = $("#career").val();
			var con = $("#contact").val();
			var cov = $("#cover").val();
			
			var formdata = JSON.stringify({ "stuID" : stu,"evalnum" : eva, "abstract" : ab, "relation" : rel,"budget" : bud, "method" : met, "feasible" : fea,  
			"outcome" : out, "career" : car,"contact" : con, "cover" : cov});
			console.log(formdata);
			
			response = $.ajax( { 
				url: "http://ctspace.me/post/grant/applicant/evaluator/student",
				data: formdata,
				type: "PUT",
				crossDomain: "True",
				dataType: 'json',
				contentType: "application/json", 
				complete: function (response) {
					console.log(response.responseText);
					alert(response.responseText);
				}
			})
			event.preventDefault()
		});
	});	
</script>	
